-- Script para actualizar la tabla MensajesObservaciones
-- Ejecutar en SQL Server Express

-- Agregar columna Leido a la tabla existente
ALTER TABLE MensajesObservaciones ADD Leido BIT DEFAULT 0;

-- Crear índice para mejorar el rendimiento
CREATE INDEX IX_MensajesObservaciones_Leido ON MensajesObservaciones(Leido);

-- Marcar todos los mensajes existentes como leídos (opcional)
-- UPDATE MensajesObservaciones SET Leido = 1;
